

body{
    background-color: #afd0f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



}

    section > div{
        border-radius: 1rem;
        padding: 10px;
        display: flex row;
        width: 15rem;
        align-items: center;
        margin: 0 20px;
}


.card-white{
    background-color: white;
    border-radius: 1rem;
    height: 15rem;
    padding: 5px;
}